<div class="mt-3">
    <div class="footer-logo-wrapper">
        <img class="footer-logo-img" src="assets/logo.png"/>
    </div>
    <div class="footer-text py-5">
        <p>Limited to one free bottle per MaxImmunity product per household per year. Proof of purchase (Amazon Order ID) is required. No additional purchase necessary.</p>

        <p>Valid only in the US and while supplies last. Please allow 2 weeks delivery time.</p>

        <p>This offer is not dependent on the feedback you provide. The views and opinions expressed by contributors of testimonials or product reviews are their own and not necessarily those of MaxImmunity. These reviews should not be taken as recommendations but only as customer product opinions.</p>

        <p>MaxImmunity makes no warranty or representation, expressed or implied, as to the accuracy or sufficiency of the information contributed by outside sources, and assumes no responsibility or liability regarding the use of such information. Products sold by MaxImmunity are not intended to diagnose, treat, cure, or prevent any disease.</p>

        <p>The statements on this site have not been evaluated by the FDA. The information provided in the customer reviews and testimonials is intended for educational purposes only.</p>
    </div>
    <div class="footer-bottom">
        ©2020 MaxImmunity | All Rights Reserved.
    </div>

</div>
