
    <img class="verify-product-img" src="assets/product.png"/>
    <div class="form-group my-4">
        <label for="orderId">Amazon Order Id</label>
        <input type="text" class="form-control center-item" style="width: 360px;" id="orderId" aria-describedby="orderIdHelp" placeholder="Enter your Order Id">
    </div>
    <div id="orderIdHelp" class="">To Find your Order Id: </div>
    <div>Go to your account - Select your orders - Find your CHG product - View order details</div>
    <button type="button" class="btn btn-primary mt-4" (click)="verify()">Verify</button>


